<!-- Navbar -->
	<nav class="navbar fixed-top navbar-light sw-bg-grey">
		<a class="sw-color-black" routerLink="/user/{{uid}}/website/{{wid}}/page"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-90-width">
			<a class="navbar-brand float-left" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget"><b>Widgets</b></a>
		</div>
		<a class="sw-color-black" routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/new"><i class="fas fa-plus"></i></a>
	</nav>
	<!-- Widgets -->
	<div class="container-fluid">
		<div *ngFor="let widget of widgets">
			<!-- icons for each widget -->
			<div class="sw-absolute-right sw-front">
				<a routerLink="/user/{{uid}}/website/{{wid}}/page/{{pid}}/widget/{{widget._id}}"><i class="fas fa-cog"></i></a>
				<a href="#"><i class="fas fa-bars"></i></a>
			</div>
			<!-- content of each widget -->
			<div [ngSwitch]="widget.widgetType">
				<!-- HEADING -->
				<div *ngSwitchCase="'HEADING'">
					<div [ngSwitch]="widget.size">
						<div *ngSwitchCase="1">
							<h1>{{widget.text}}</h1>
						</div>
						<div *ngSwitchCase="2">
							<h2>{{widget.text}}</h2>
						</div>
						<div *ngSwitchCase="3">
							<h3>{{widget.text}}</h3>
						</div>
						<div *ngSwitchCase="4">
							<h4>{{widget.text}}</h4>
						</div>
						<div *ngSwitchCase="5">
							<h5>{{widget.text}}</h5>
						</div>
						<div *ngSwitchCase="6">
							<h6>{{widget.text}}</h6>
						</div>
					</div>
				</div>
				<!-- IMAGE -->
				<div *ngSwitchCase="'IMAGE'">
					<img [src]="widget.url"
						 [style.width]="widget.width">
				</div>
				<!-- YOUTUBE -->
				<div *ngSwitchCase="'YOUTUBE'">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe [src]="this.getYoutubeUrl(widget.url)"
						[style.width]="widget.width"
						frameborder="0"
						allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<footer class="navbar fixed-bottom navbar-light sw-bg-grey">
		<div class="sw-full-width">
			<a href="#" class="btn btn-primary">publish</a>
			<a href="#" class="btn btn-warning">Preview</a>
			<a class="navbar-brand float-right" routerLink="/user/{{uid}}"><i class="fas fa-user"></i></a>
		</div>
	</footer>