	<nav class="navbar navbar-dark bg-primary fixed-top">
		<a class="navbar-brand" routerLink="user/:uid"><b>Profile</b></a>
		<button class="btn sw-color-white sw-button-to-a" type="submit" form="profileForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
	</nav>
	<div class="container-fluid animate-fading">
		<div *ngIf="usernameTaken" class="alert alert-danger">Username is taken, please try another one.</div>
		<div *ngIf="submitSuccess" class="alert alert-success">Update successfully!</div>
		<form (ngSubmit)="update()" id="profileForm" #f="ngForm">
			<div class="form-group">
				<label for="username"><b>Username</b></label>
				<input class="form-control" type="text" name="username" required ngModel="{{user.username}}" #username="ngModel" placeholder="example">
			</div>
			
			<span class="alert" *ngIf="username.invalid && username.touched">Please enter username!</span>

			<div class="form-group">
				<label for="email"><b>Email</b></label>
				<input class="form-control" type="email" name="email" ngModel="{{user.email}}" #email="ngModel" placeholder="example@email.com">
			</div>
			<div class="form-group">
				<label for="firstName"><b>First Name</b></label>
				<input class="form-control" type="text" name="firstName" ngModel="{{user.firstName}}" #firstName="ngModel" placeholder="Alice">
			</div>
			<div class="form-group">
				<label for="lastName"><b>Last Name</b></label>
				<input class="form-control" type="text" name="lastName" ngModel="{{user.lastName}}" #lastname="ngModel" placeholder="Wang">
			</div>
			<a class="btn btn-primary btn-block" routerLink="/user/{{uid}}/website">Websites</a>
			<a (click)="logout()" class="btn btn-danger btn-block" >Logout</a>
		</form>
	</div>
	<nav class="navbar navbar-dark bg-primary fixed-bottom">
		<div class="sw-full-width">
			<a routerLink="user/:uid" class="sw-color-white float-right" ><i class="fas fa-user"></i></a>
		</div>
	</nav>