<nav class="navbar fixed-top navbar-light sw-bg-grey">
		<a class="sw-color-black" routerLink="/user/:uid/website/:wid/page"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-90-width">
			<a class="navbar-brand float-left" routerLink="/user/:uid/website/:wid/page/:pid"><b>Edit Page</b></a>
		</div>
		<a routerLink="/user/:uid/website/:wid/page" class="sw-color-black float-right" ><i class="fas fa-check"></i></a>
	</nav>
	<div class="container-fluid">
		<form>
			<div class="form-group">
				<label><b>Name</b></label>
				<input class="form-control" type="text" name="page-name" placeholder="Enter your page name..." value="Blog Post">
			</div>
			<div class="form-group">
				<label><b>Title</b></label>
				<input class="form-control" type="text" name="page-title" placeholder="Enter your page title..." value="Blog">
			</div>
			<a class="btn btn-primary btn-block" routerLink="/user/:uid/website/:wid/page">Update</a>
			<a class="btn btn-danger btn-block" routerLink="/user/:uid/website/:wid/page">Delete</a>
		</form>
	</div>
	<footer class="navbar fixed-bottom navbar-light sw-bg-grey">
		<div class="sw-full-width">
			<a class="navbar-brand float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
		</div>
	</footer>