<nav class="navbar fixed-top navbar-light sw-bg-grey">
		<a class="sw-color-black" href="../Website/website-list.html"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-90-width">
			<a class="navbar-brand float-left" href="page-list.html"><b>Page</b></a>
		</div>
		<a class="sw-color-black" href="page-new.html"><i class="fas fa-plus"></i></a>
	</nav>
	<div class="container-fluid">
		<ul class="list-group list-group-flush">
			<li class="list-group-item">
				<a class="sw-color-black" href="../Widget/widget-list.html">Blog Post</a>
				<a class="float-right sw-color-black" href="page-edit.html"><i class="fas fa-cog"></i></a>
			</li>
			<li class="list-group-item">
				<a class="sw-color-black" href="../Widget/widget-list.html">Blogs</a>
				<a class="sw-color-black float-right" href="Page-edit.html"><i class="fas fa-cog"></i></a>
			</li>
			<li class="list-group-item">
				<a class="sw-color-black" href="../Widget/widget-list.html">Home</a>
				<a class="sw-color-black float-right" href="page-edit.html"><i class="fas fa-cog"></i></a>
			</li>
			<li class="list-group-item">
				<a class="sw-color-black" href="../Widget/widget-list.html">About</a>
				<a class="sw-color-black float-right" href="page-edit.html"><i class="fas fa-cog"></i></a>
			</li>
		</ul>
	</div>
	<footer class="navbar fixed-bottom navbar-light sw-bg-grey">
		<div class="sw-full-width">
			<a class="navbar-brand float-right" href="../User/profile.html"><i class="fas fa-user"></i></a>
		</div>
	</footer>