<!-- Navbar -->
	<nav class="navbar fixed-top navbar-light sw-bg-grey">
		<a class="sw-color-black" href="widget-list.html"><i class="fas fa-chevron-left"></i></a>
		<div class="sw-90-width">
			<a class="navbar-brand float-left" href="widget-chooser.html"><b>Edit Widget</b></a>
		</div>
		<a href="widget-list.html" class="sw-color-black float-right" ><i class="fas fa-check"></i></a>
	</nav>
	<!-- form -->
	<div class="container-fluid">
		<form>
			<div class="form-group">
				<label><b>Name</b></label>
				<input class="form-control" type="text" name="widget-name" placeholder="Enter your widget name...">
			</div>
			<div class="form-group">
				<label><b>Text</b></label>
				<input class="form-control" type="text" name="widget-text" placeholder="Enter your widget text...">
			</div>
			<div class="form-group">
				<label><b>Size</b></label>
				<input class="form-control" type="number" name="widget-text" placeholder="Enter your widget text...">
			</div>
			<a class="btn btn-primary btn-block" href="widget-list.html">Submit</a>
			<a class="btn btn-danger btn-block" href="widget-list.html">Delete</a>
		</form>
	</div>
	<!-- footer -->
	<footer class="navbar fixed-bottom navbar-light sw-bg-grey">
		<div class="sw-full-width">
			<a class="navbar-brand float-right" href="../User/profile.html"><i class="fas fa-user"></i></a>
		</div>
	</footer>