<!-- Navbar -->
	<nav class="row navbar navbar-dark bg-primary fixed-top">
		<!-- Left Navbar -->
		<div class="col-sm-4 d-none d-md-block">
			<a class="sw-color-white" routerLink="/user/{{uid}}/website"><i class="fas fa-chevron-left"></i></a>
			<a class="sw-color-white sw-left-padding" routerLink="/user/{{uid}}/website"><b>Websites</b></a>
			<a class="sw-color-white float-right" routerLink="/user/{{uid}}/website/new"><i class="fas fa-plus"></i></a>
		</div>
		<!-- Right Navbar -->
		<div class="col-md-8">
			<a class="sw-color-white" routerLink="/user/{{uid}}/website/new"><b>New Website</b></a>
			<button class="btn sw-color-white float-right sw-button-to-a" type="submit" form="websiteForm" [disabled]="f.invalid"><i class="fas fa-check"></i></button>
		</div>
	</nav>
	<div class="row">
		<!-- Left Website List -->
		<div class="col-md-4 d-none d-md-block">
			<div class="container-fluid">
				<ul class="list-group">
					<li class="list-group-item" *ngFor ="let website of websites">
						<a routerLink="/user/{{uid}}/website/{{website._id}}/page">{{website.name}}</a>
						<a class="float-right" routerLink="/user/{{uid}}/website/{{website._id}}"><i class="fas fa-cog"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Right Form -->
		<div class="col-md-8">
			<div class="container-fluid">
				<form id="websiteForm" (ngSubmit)="create()" #f="ngForm">
					<div class="form-group">
						<label><b>Name</b></label>
						<input class="form-control" type="text" name="name" placeholder="Enter your website name" required ngModel #name="ngModel">
					</div>
					<div class="alert alert-warning" *ngIf="name.invalid && name.touched">Name cannot be empty</div>
					<div class="form-group">
						<label><b>Description</b></label>
						<textarea rows="5" class="form-control" name="description" placeholder="Describe your website here" ngModel #description="ngModel"></textarea>
					</div>
					<a routerLink="/user/{{uid}}/website" class="btn btn-danger">Cancel</a>
					<button [disabled]="f.invalid" type="submit" class="btn btn-success float-right">Submit</button>
				</form>
			</div>
		</div>
		
	</div>
	<footer class="navbar fixed-bottom navbar-dark bg-primary">
		<div class="sw-full-width">
			<a class="navbar-brand float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
		</div>
	</footer>