body{
	padding-top: 70px;
	padding-bottom: 70px;
}

.sw-color-white{
	color: white;
}

.sw-color-black{
	color: black;
}

.sw-bg-grey{
	background-color: #afafaf;
}

.sw-full-width{
	width: 100%;
}

.sw-95-width{
	width: 95%;
}

.sw-90-width{
	width: 90%;
}

.sw-50-width{
	width: 50%;
}

a:hover{
	text-decoration: none;
}

.sw-left-padding{
	padding-left: 20px
}

.sw-absolute-right{
	position: absolute;
	right: 15px;
}


.sw-button-to-a{
	background-color: transparent;
}

.sw-front{
	z-index: 2
}